<div class="col-sm-6">
  <div class="article <%= is_single ? "single" : "multiple" %>">
    <h3 class="title">
      <%= link_to article.title, article_path(article) %>
    </h3>
    <hr>
    <div class="body"><%= @markdown.render(article.body).html_safe %></div>

    <div class="row">
      <div class="col-sm-2">
        <!-- <span class="glyphicon glyphicon-comment" aria-hidden="true">
          <%= article.comments.count %>
        </span> -->




        <!-- Button trigger modal -->
        <a class="glyphicon glyphicon-comment" data-toggle="modal" data-target="#comment<%= article.id %>" href="_blank">
          <%= article.comments.count %>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="comment<%= article.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comment</h4>
              </div>
              <div class="modal-body">
                <%= render partial: 'comment', :collection => article.comments %>
              </div>
              <div class="modal-footer">
                <%= form_for(article.comments.new, url: comments_path) do |f| %>
                  <%= f.hidden_field :article_id%>
                  <%= f.hidden_field :id %>
                  <div class="field">
                    <%= f.text_field :content, class: "form-control", placeholder: "New comment"%>
                  </div>
                  <input type="submit" class="btn btn-primary"></input>
                <% end %>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-10">
        <div class="functionality">
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-success" %>
          <div id="destroy-modal" style="display: inline">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Delete</button>

            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure to delete?</h4>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= link_to 'Delete', article, method: :delete, class: "btn" %>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
